* {
    margin: 0;
    padding: 0;
}

body {
    color: #767676;
    font-family: Arial, sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 0 10px;
    /* display: inline-block; */
}

header {
    margin-top: 20px;
    font-size: 0.85em;
}

header nav {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10%;
}

main img {
    margin-bottom: 20px;
}

.material-icons {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#sign-in-button {
    font-weight: bold;
    color: white;
    background-color: #4285f4;
    border-radius: 3px;
    padding: 10px;
}

#search-box-input {
    border: 1px solid #dfe1e5;
    padding: 10px;
    width: 590px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
}

@media (max-width: 600px) {
    #search-box-input {
        width: 400px;
    }
}

@media (max-width: 500px) {
    #search-box-input {
        width: 300px;
    }
}

#google-apps {
    cursor: pointer;
}

#search-box-input:focus {
    outline: none;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#voice-search {
    position: relative;
    top: 8px;
    right: 45px;
    cursor: pointer;
}

#search-buttons {
    margin: 10px;
}

#search-buttons input {
    color: #5F6368;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding: 10px;
    border-radius: 5px;
}

#search-buttons input:hover {
    border: 1px solid #c6c6c6
}

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}